azure-cognitiveservices-vision-face==0.4.1
pillow
git+ssh://git@bitbucket.org/latonaio/rabbitmq-python-client.git@develop#egg=rabbitmq_client
git+ssh://git@bitbucket.org/latonaio/python-logging-library.git@develop#egg=custom_logger